<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>theme</key>
    <string>./Themes/basic</string>
    <key>server</key>
    <dict>
        <key>documentRoot</key>
        <string>./Public</string>
        <key>port</key>
        <integer>8181</integer>
        <key>address</key>
        <string>192.168.1.134</string>
        <key>runAsUser</key>
        <string>dlewis</string>
        <key>name</key>
        <string>dannys-macbook-air.local</string>
        <key>ssl</key>
        <dict>
            <key>cert</key>
            <string>TestCert</string>
            <key>key</key>
            <string>TestKey</string>
        </dict>
    </dict>
    <key>security</key>
    <dict>
        <key>salt</key>
        <string>of5dD8S6tVvrUC6TZNJ0cUPR59cbHRJci0EqOPkBAtggmb8a9zfBz0Iq4E0p0NVOWR1LH7VGXVHy0v4QELuDKvLxCu0mw7yRfgwFOBssW6MocjDJ5eZ91P9k2EK8wIRj</string>
        <key>key</key>
        <string>8Jpe1QTjJN0VkTaSgvQjZgGOX6SS9HqgZN1YKOy3WBSXDo81BRD8mt2XT4mObADMnKYYahd7uDOHaWvdsbSmu6PMYmKqF9nbRYITAGjmzcQJbxcGlKSALjj8zzaEboo8</string>
        <key>iv</key>
        <string>xa9LBufDf5Kcy7CJvQap7Rvpenfm7sUR8xBUxW5nyG4LtwPpxjIspAxGz4p4fmRKFb5blq786xHvpWoaKZUlaKMxOlNcdsRNQZt5UoMVQUbKsqUQNfMR0b2SbRr8eZZs</string>
        <key>secret</key>
        <string>TMUOQ8DayvrTkJZlicYYVR24eKUTn6lGiD8JsB6GbjAEpM4KtR86Hw7T7JCwaJssviWqJhIBbB40oZFPif3O4eExePNcAV0rJrqvpn8nnJma23T4mDUVKzuzZQI7SUEH</string>
        <key>issuer</key>
        <string>openbuild.sheffield</string>
        <key>time</key>
        <integer>3600</integer>
        <key>audience</key>
        <string>defaultAudience</string>
        <key>claims</key>
        <dict>
            <key>fu</key>
            <string>bar</string>
            <key>bob</key>
            <string>baz</string>
        </dict>
    </dict>
    <key>dataConnections</key>
    <dict>
        <key>mysql</key>
        <array>
            <dict>
                <key>name</key>
                <string>local</string>
                <key>host</key>
                <string>127.0.0.1</string>
                <key>username</key>
                <string>root</string>
                <key>password</key>
                <string>letmein</string>
                <key>stores</key>
                <array>
                    <dict>
                        <key>name</key>
                        <string>auth</string>
                        <key>db</key>
                        <string>testing</string>
                    </dict>
                    <dict>
                        <key>name</key>
                        <string>cms</string>
                        <key>db</key>
                        <string>testing</string>
                    </dict>
                    <dict>
                        <key>name</key>
                        <string>role</string>
                        <key>db</key>
                        <string>testing</string>
                    </dict>
                </array>
            </dict>
        </array>
    </dict>
    <key>routeModules</key>
    <array>
        <string>./Sources/RouteAuth/Info.plist</string>
        <string>./Sources/RouteCMS/Info.plist</string>
        <string>./Sources/RouteStencil/Info.plist</string>
    </array>
</dict>
</plist>